@import "tailwindcss";
@import "./typography.css";
@import "./grid.css";
@import "./animation/animation.scss";

@theme {
  --color-background: #fefdf4;
  --color-primary-50: #fbf4ff;
  --color-primary-100: #f6e7ff;
  --color-primary-200: #eeceff;
  --color-primary-300: #e09cff;
  --color-primary-400: #d474fe;
  --color-primary-500: #c040f5;
  --color-primary-800: #751593;
  --color-primary-950: #3f0151;

  --color-secondary-100: #eaffc8;
  --color-secondary-200: #ddffab;
  --color-secondary-300: #b7fb5b;
  --color-secondary-400: #9bf229;

  --color-tertiary-50: #fff3ed;
  --color-tertiary-100: #ffe3d4;
  --color-tertiary-200: #ffc3a8;
  --color-tertiary-300: #ffa794;
  --color-tertiary-400: #ff7557;
  --color-tertiary-500: #ff4a23;
  --color-tertiary-600: #f02b00;
  --color-tertiary-700: #c71207;
  --color-tertiary-800: #9e110e;
}

body {
  @apply bg-background text-primary-950;
}

* {
  scroll-behavior: smooth;
}

section {
  @apply px-4;
}
