@font-face {
  font-family: "ESRebond";
  src:
    url("/fonts/ESRebondGrotesque-Semibold.otf") format("opentype"),
    url("/fonts/ESRebondGrotesque-Semibold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ESKlarheit-Book";
  src: url("/fonts/ESKlarheitGrotesk-Bk.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ESKlarheit-Book-Italic";
  src: url("/fonts/ESKlarheitGrotesk-BkIt.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ESKlarheit-Bold";
  src: url("/fonts/ESKlarheitGrotesk-Bd.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "ESKlarheit-Bold-Italic";
  src: url("/fonts/ESKlarheitGrotesk-BdIt.woff2") format("woff2");
  font-display: swap;
}

.font-heading {
  font-family: "ESRebond", sans-serif;
}

.font-paragraph {
  font-family: "ESKlarheit-Book", sans-serif;
}

* {
  font-feature-settings: "ss11" !important;
  text-wrap: balance;
  widows: 2;
  orphans: 2;
  hyphens: auto;
}

h2,
h3,
p,
span,
a {
  @apply max-w-[65ch];
}
